.pokeInformation {
    padding: 25px;
    display: flex;
    justify-content: space-around;

}
.pokemonInfo h2{
    text-transform: uppercase   ;
}

.pokemonInfo .mainImg {
    width: 250px;
    height: 250px;
    border: 5px solid #000;
    border-radius: 50%;
}
.pokeInformation .pokemonIN {
    text-align: center;
    min-width: 390px;
}
.pokeType span{
    text-transform: uppercase;
}
.pokeType{
    margin: 0 5px;
}

.pokemonIN .stat {
    margin: 5px;
}