.pokeList {
    display: flex;
}
.pokemonsCards {
    display: flex;
    flex-wrap: wrap;
}
.pokemonList h2{
    text-align: center;
}
.pokemon {
    display:flex;
    flex-wrap: wrap;
}

.pokemon p {
    text-transform: uppercase;
    font-weight: 600;
}
.pokemonCard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}
.pokemonCard img {
    width: 300px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 50%;
}
.paginate {
    width: 500px;
    display: flex;
    margin: 20px auto;
    list-style: none;
    justify-content: space-between;   
}
.paginate li a {
    display: block;
    width: 25px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
}
.paginate .selected{
    background-color: rgb(206, 206, 206);
    color: #fff;
}
.paginate li:hover{
    cursor: pointer;
    background-color: darkgrey;
}